.git
.venv
.uv-cache
.idea
.vscode
.DS_Store
__pycache__
*.pyc
*.pyo
*.pyd
*.log
*.zip

data/*
!data/seed/
data/seed/*
!data/seed/events/
data/seed/events/*
!data/seed/events/events_seed.csv
logs
target
dbt_packages
.secrets
runtime

Documentation
notebooks
Archive.zip
Project_2903.zip
Routing marts.zip
models.zip
warehouse/*.zip
